* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 187, 196, 0.30);
    overflow-x: hidden;

}

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 19.0625rem;
}

header {
    width: 100vw;
}

.navbar {
    width: 100%;
    background-color: #6100FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


.navbar img {
    height: 2.8125rem;
    margin: .3125rem;
}

.navbar h1 {
    color: #fff;
    margin: 0px 40px 0px 0px;
}

.btn_perfil {
    border-radius: 80%;
    cursor: pointer;
    position: relative;
    left: 42%;
    height: 50px;
    margin-right: 3.875rem;
}

.nav_menu {
    display: none;
}

.btn_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    gap: .875rem;
}

.btn_mod {
    background-color: #6100FF;
    width: 320px;
    max-width: 20rem;
    height: 13.0625rem;
    padding: .625rem;
    color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    font-size: larger;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btn_mod img {
    margin: 15px;
}

.search_and_vids{
    margin-top: 0;
}

.search_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin: 60px auto;
    padding: 0px 100px 0px 50px;
    width: 51.5625rem;
    height: 12.375rem;
    background-color: #0B0033;
    border-radius: 82px;
}

.search_title {
    color: #fff;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-size: 2rem;
    line-height: normal;
    margin-top: 20px;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.busqueda {
    width: 33.6875rem;
    height: 2.5rem;
    border-radius: 30px;
    margin: 15px 0px;
    padding: 20px;
}

.search_btn {
    background: #6100FF;
    width: max-content;
    border-radius: 15px;
    gap: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.mic_btn {
    color: #fff;
    cursor: pointer;
}

.grid-wrapper {

    float: right;
    width: 52.75rem;
    max-height: 35rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
    margin: auto;
}



.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
}


.video-container {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.video-container img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

iframe {
    width: 14.25rem;
    height: 24.545rem;
    margin: 20px 40px;
    border-radius: 10px;
}


@media screen and (max-width: 992px) {
    main{
        flex-direction: column;
    }
    .btn_nav {
        display: none;
    }

    .search_section {
        margin: 20px 0;
        width: auto;
    }

    .search_title {
        font-size: 1.5rem;
    }

    .buscador {
        width: 100%;
        max-width: 600px;
        padding: 10px;
    }
    .video_feed{
        width: 100%;
    }

    .grid-wrapper {
        width: 100%;
        background-color: #1CBBC4;

    }

   .video-grid{
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
   }


    iframe {
    width: 44%;
    max-width: 100%;
    height: 250px;
    margin: 10px 0;
    border-radius: 10px;
    } 
}


/*

header {
    width: 100vw;
}

.navbar {
    width: 100%;
    background-color: #6100FF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    height: 2.8125rem;
    margin: .3125rem;
}

.navbar h1 {
    color: #fff;
    margin: 0px 40px 0px 0px;
}

.btn_perfil{
    border-radius: 80%;
    cursor: pointer;
    position: relative;
    left: 42%;
    height: 50px;
}



.search_title {
    color: #fff;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-size: 2rem;
    line-height: normal;
    margin-top: 20px;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.busqueda {
    width: 705px;
    height: 40px;
    border-radius: 30px;
    margin: 15px 0px;
    padding: 20px;
}

.search_btn {
    background: #6100FF;
    width: max-content;
    border-radius: 15px;
    gap: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.mic_btn {
    color: #fff;
    cursor: pointer;
}

.btn_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    gap: .875rem;
}

.btn_mod {
    background-color: #6100FF;
    width: 20rem;
    height: 13.0625rem;
    padding: .625rem;
    color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    font-size: larger;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btn_mod img {
    margin: 15px;
}

.video_feed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.grid-wrapper {
    position: relative;
    float: right;
    width: 52.75rem;
    max-height: 560px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
    margin: auto;


}

.youtube-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.video-player {
    border: 1px solid #ddd;
    padding: 10px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.video-container img {
    display: block;
    border-radius: 20px;
}

.video-card {
    border-radius: 20px;

}

iframe {
    width: 14.25rem;
    height: 24.545rem;
    margin: 20px 40px;
    border-radius: 10px;
}

.nav_menu {
    display: none;
}

#logo {
    margin-left: 10px;
}

@media screen and (max-width :992px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        width: 100vw;
    }

    .btn_nav {
        display: none;
    }

    .search_section {
       width: auto;
       margin: 20px 0px;
    }

    .buscador{
        width: auto;
    }

    .grid-wrapper{
        width: 25rem;
    }

    .video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

} */